DB_REMOTE=mongodb+srv://championsleague:strong_password@championsleague.cluster.mongodb.net/
DB_LOCAL=mongodb://champions_league:strong_password@localhost:27017/champions_league?authSource=admin
SECRET=secret
NODE_ENV=development